.task{
    width: 100%;
}
.single-task-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.single-task-container .timestamp{
    position: absolute;
    right: 300px;
}
.update-btn,.edit-btn,.delete-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
.update-btn{
    background-color: green;
}
.edit-btn{
    background-color: blue;
    position: absolute;
    right: 100px;
}
.delete-btn{
    background-color: red;
}
@media (max-width:768px) {
    .single-task-container {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
    }
    .single-task-container span{
        color: #fff;
    }
    .single-task-container .timestamp{
        position: absolute;
        right: 150px;
    }
    .single-task-container .edit-btn{
        position: absolute;
        right: 80px;
    }
    .single-task-container .delete-btn{
        position: absolute;
        right: 20px;
    }
    .update-btn,.delete-btn,.edit-btn{
        font-size: 10px;
        background-color: #171616;
        box-shadow: 0 0 2px grey;
        border: none;
        color: #fff;
    }
    input{
        background-color: #171616;
        color: #fff;
    }
}